.history {
  flex: 0.8;
  background-color: #f9f9f9;
  padding-bottom: 0;
}

.history__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  color: #606060;
} 