.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchBar input {
  flex: 1;
  border: 1px solid #ccc;
  border-right: none;
  padding: 10px;
  height: 32px;
  font-size: 16px;
  width: 100%;
}

.searchBar input:focus {
  outline: none;
  border-color: #1c62b9;
}

.searchBar__button {
  width: 64px;
  height: 32px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar__button:hover {
  background-color: #f0f0f0;
}

.searchBar__button .MuiSvgIcon-root {
  color: #606060;
  font-size: 20px;
}

