.sidebar {
  width: 240px;
  background-color: white;
  height: 100%;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.sidebar--closed {
  width: 72px;
}

.sidebar--closed .sidebar__subtitle,
.sidebar--closed .sidebar__login {
  display: none;
}

.sidebar hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin: 10px 0;
}

.sidebar__subtitle {
  padding: 10px 20px;
  color: #606060;
  font-size: 14px;
  font-weight: 500;
}

.sidebar__login {
  padding: 16px 32px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.sidebar__login p {
  color: #606060;
  font-size: 14px;
  margin-bottom: 12px;
}

.sidebar__login button {
  padding: 8px 16px;
  background-color: transparent;
  color: #065fd4;
  border: 1px solid #065fd4;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.sidebar__login button:hover {
  background-color: #def1ff;
}

.sidebarRow--closed {
  justify-content: center;
  padding: 10px;
} 